*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f8fb;
color:#333;
}

header{

display:flex;

justify-content:space-between;

align-items:center;

background:#0077b6;

padding:20px;

color:white;

}

nav a{

color:white;

margin-left:20px;

text-decoration:none;

font-weight:bold;

}

.hero{

text-align:center;

padding:80px;

background:white;

}

.hero h1{

font-size:42px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

margin-bottom:30px;

}

.hero button{

padding:15px 30px;

border:none;

background:#00b894;

color:white;

font-size:18px;

cursor:pointer;

border-radius:8px;

}

#products{

padding:60px;

text-align:center;

}

.products{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

margin-top:40px;

}

.card{

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 4px 10px rgba(0,0,0,.1);

}

#order{

padding:60px;

background:white;

}

form{

max-width:500px;

margin:auto;

display:flex;

flex-direction:column;

gap:15px;

}

input,select{

padding:15px;

font-size:16px;

}

button{

padding:15px;

background:#0077b6;

color:white;

border:none;

cursor:pointer;

border-radius:6px;

}

footer{

text-align:center;

padding:30px;

background:#023047;

color:white;

margin-top:40px;

}